header {
    position: relative;
    width: 100%;
    height: 100px;
}

header h1{
    position: absolute;
    padding: 0 20px;
}

/* 상단오른쪽메뉴아이콘 */

.header_Wrap  {
    z-index: 50;
    position: relative;
    height: 100px;
    clear: both;
}

.header_Wrap .menu_box img{
    position: absolute;
    top: 40px;
    right: 50px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url(/img/icon/menu.png) no-repeat 0 0 /cover;
}

/* PC버전메뉴 */

.menu_wrap:hover{
    transition: all 300ms ease;
    background-color: #fff;
}

.menu_wrap .menu {
    position: relative;
    height: 100px;
    margin-left: 200px;
    z-index: 101;
}

.menu_wrap .menu ul {
    font-size: 0;
}

.menu_wrap .menu li {
    position: relative;
    display: inline-block;
    width: 140px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: #9b9b9b;
}

.menu_wrap .menu ul li::after {
    display: none;
    content: "";
    position: absolute;
    display: block;
    bottom: -1px;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: #222222;
    transition: all 500ms ease;
}
.menu_wrap .menu ul li:hover::after {
    left: 0%;
    width: 100%;
}

.menu_wrap .menu li a {
    line-height: 100px;
}

.menu_wrap .menu li a:hover {
    color: #000;
}

/* PC버전메뉴오픈시 */
.menu_wrap .menu_open {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    padding-left: 200px;
    box-sizing: border-box;
    background: #fff;
    border-top: 1px solid #aaa9a9;
    z-index: 100;
}

header .menu_wrap .menu_open .dep1 {
    font-size: 0;
}

.menu_wrap .menu_open .dep1 > li {
    display: inline-block;
    width: 140px;
    font-size: 16px;
    padding: 20px 0 40px 0;
}

.menu_wrap .menu_open .dep2 li {
    padding: 8px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #9b9b9b;
}

.menu_wrap .menu_open .dep2 li a:hover {
    color: #373737;
}

/* 1번째페이지 스크롤아이콘*/

#container {
    display: block;
}

#container .scroll {
    position: absolute;
    bottom: 50px;
    left: 3%;
    float: left;
    background: url(/img/icon/main_scroll_icon.png) no-repeat 0 0 /cover;
    color: rgba(0,0,0,0);
    width: 13px;
    height: 208px;
    z-index: 99;
}

/* 컨텐츠1 */
.contents_area {
    max-width: 1700px;
    margin: 50px auto;
}

/* 왼쪽컨텐츠 */
.contents_area .left_contents {
    float: left;
    width: 30%;
    height: 700px;
    padding: 60px;
    box-sizing: border-box;
    color: #fff;
    background: #e0c8c8 url(/img/icon/main_con01_img01.jpg) no-repeat;
}

.contents_area .left_contents .txt strong {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: -1px;
}

.contents_area .left_contents .txt span {
    font-weight: 900;
    letter-spacing: -5px;
    line-height: 60px;
} 

.contents_area .left_contents .txt li {
    font-size: 16px;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: -1px;
}

/* 오른쪽 윗줄 첫번째,아랫줄 두번째 컨텐츠 */
.contents_area .right_contents .image_item {
    float: left;
    width: 48%;
    height: 350px;
    background: url(/img/icon/main_con01_img04.jpg) no-repeat ;
}

.contents_area .right_contents .image_item .txt strong{
    font-size: 20px;
    letter-spacing: -2px;
    color: #fff;
}

.contents_area .right_contents .cont4 {
    background: url(/img/icon/main_con01_img05.jpg) no-repeat;
}


/* 오른쪽 윗줄 두번째, 아랫줄 첫번째 컨텐츠 */

.contents_area .right_contents .white_item {
    float: left;
    width: 22%;
    height: 350px;
}

.contents_area .right_contents .white_item .txt strong {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: -1px;
}

.contents_area .right_contents .white_item .txt span {
    font-weight: 900;
    letter-spacing: -5px;
    line-height: 60px;
} 

.contents_area .right_contents .white_item .txt li {
    font-size: 16px;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: -1.5px;
}

.contents_area .right_contents .cont1 .txt,
.contents_area .right_contents .white_item .txt {
    padding: 55px;
    letter-spacing: -1px;
}

.contents_area .right_contents .cont2 .txt span {
    color: #0fabad;
}

.contents_area .right_contents .cont3 .txt span {
    color: #29b578;
}



/* 세번째 컨텐츠 */

#proecess_wrap {
    max-width: 1700px;
    margin: 50px auto;
}

#proecess_wrap .process{
    text-align: center;
}

#proecess_wrap .process .txt {
    color: #222;
    margin-bottom: 15px;
}

#proecess_wrap .process .txt strong{
    font-size: 30px;
    font-weight: 900;
}

#proecess_wrap .process .txt span {
    font-size: 15px;
    font-weight: 400;
}


#proecess_wrap .process .icon ul li{
    display: inline-block;
}

#proecess_wrap .process .icon {
    position: relative;
    margin-top: 100px;
}

#proecess_wrap .process .icon::after{
    content: "";
    position: absolute;
    width: 100%;
    height:2px;
    top: 105px;
    left: 0;
    background: #ddd;
    z-index:60;
}


#proecess_wrap .process .icon .dot{
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    top: 101px;
    left: 100px;
    border-radius: 50%;
    background: red;
    z-index:61;
}

#proecess_wrap .process ul li {
    display: inline-block;
    width: 20%;
}

#proecess_wrap .process .number{
    font-size: 13px;
    font-weight: 900;
    padding-top: 100px;
}

#proecess_wrap .process .number_txt {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -2px;
    margin-top: 8px;
}
