body {
    position: relative;;
}
header {
    position: relative;
    width: 100%;
    height: 100px;
}

header h1{
    position: absolute;
    padding: 0 20px;
}

/* 상단오른쪽메뉴아이콘 */

.header_Wrap  {
    z-index: 50;
    position: relative;
    height: 100px;
}

.header_Wrap .menu_box img{
    position: absolute;
    top: 40px;
    right: 50px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url(/img/icon/menu.png) no-repeat 0 0 /cover;
}

/* PC버전메뉴 */

.menu_wrap:hover{
    transition: all 300ms ease;
    background-color: #fff;
}

.menu_wrap .menu {
    position: relative;
    height: 100px;
    margin-left: 200px;
    z-index: 101;
}

.menu_wrap .menu ul {
    font-size: 0;
}

.menu_wrap .menu li {
    position: relative;
    display: inline-block;
    width: 140px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: #9b9b9b;
}

.menu_wrap .menu ul li::after {
    display: none;
    content: "";
    position: absolute;
    display: block;
    bottom: -1px;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: #222222;
    transition: all 500ms ease;
}
.menu_wrap .menu ul li:hover::after {
    left: 0%;
    width: 100%;
}

.menu_wrap .menu li a {
    line-height: 100px;
}

.menu_wrap .menu li a:hover {
    color: #000;
}

/* PC버전메뉴오픈시 */
.menu_wrap .menu_open {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    padding-left: 200px;
    box-sizing: border-box;
    background: #fff;
    border-top: 1px solid #aaa9a9;
    z-index: 100;
}

header .menu_wrap .menu_open .dep1 {
    font-size: 0;
}

.menu_wrap .menu_open .dep1 > li {
    display: inline-block;
    width: 140px;
    font-size: 16px;
    padding: 20px 0 40px 0;
}

.menu_wrap .menu_open .dep2 li {
    padding: 8px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #9b9b9b;
}

.menu_wrap .menu_open .dep2 li a:hover {
    color: #373737;
}

/* 1번째페이지 스크롤아이콘*/

#container {
    display: block;
}

#container .scroll {
    position: absolute;
    bottom: 50px;
    left: 3%;
    float: left;
    background: url(/img/icon/main_scroll_icon.png) no-repeat 0 0 /cover;
    color: rgba(0,0,0,0);
    width: 13px;
    height: 208px;
    z-index: 99;
}

/* 컨텐츠1 */
.contents_area {
    max-width: 1700px;
    margin: 80px auto;
}

.contents_area::after {
    content : "";
	display : block;
	clear : both;
}

/* 왼쪽컨텐츠 */
.contents_area .left_contents {
    float: left;
    width: 30%;
    height: 700px;
    padding: 60px;
    box-sizing: border-box;
    color: #fff;
    background: #e0c8c8 url(/img/icon/main_con01_img01.jpg) no-repeat;
}

.contents_area .left_contents .txt strong {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: -1px;
}

.contents_area .left_contents .txt span {
    font-weight: 900;
    letter-spacing: -5px;
    line-height: 60px;
} 

.contents_area .left_contents .txt li {
    font-size: 16px;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: -1px;
}

/* 오른쪽 윗줄 첫번째,아랫줄 두번째 컨텐츠 */

.contents_area .right_contents::after {
    content: ''; 
    display: block; 
    clear: both;
}

.contents_area .right_contents .image_item {
    float: left;
    width: 48%;
    height: 350px;
    background: url(/img/icon/main_con01_img04.jpg) no-repeat ;
}

.contents_area .right_contents .image_item .txt strong{
    font-size: 20px;
    letter-spacing: -2px;
    color: #fff;
}

.contents_area .right_contents .cont4 {
    background: url(/img/icon/main_con01_img05.jpg) no-repeat;
}


/* 오른쪽 윗줄 두번째, 아랫줄 첫번째 컨텐츠 */

.contents_area .right_contents .white_item {
    float: left;
    width: 22%;
    height: 350px;
}

.contents_area .right_contents .white_item .txt strong {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: -1px;
}

.contents_area .right_contents .white_item .txt span {
    font-weight: 900;
    letter-spacing: -5px;
    line-height: 60px;
} 

.contents_area .right_contents .white_item .txt li {
    font-size: 16px;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: -1.5px;
}

.contents_area .right_contents .cont1 .txt,
.contents_area .right_contents .white_item .txt {
    padding: 55px;
    letter-spacing: -1px;
}

.contents_area .right_contents .cont2 .txt span {
    color: #0fabad;
}

.contents_area .right_contents .cont3 .txt span {
    color: #29b578;
}



/* 컨텐츠2 : 디자인프로세스 */

#proecess_wrap {
    max-width: 1700px;
    margin: 200px auto 250px auto;
}

#proecess_wrap .process{
    text-align: center;
    font-size: 0;
}

#proecess_wrap .process .txt {
    color: #222;
    margin-bottom: 15px;
}

#proecess_wrap .process .txt strong{
    font-size: 30px;
    font-weight: 900;

}

#proecess_wrap .process .txt span {
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
}

#proecess_wrap .process .icon ul li{
    display: inline-block;
}

#proecess_wrap .process .icon {
    position: relative;
    margin-top: 100px;
}

#proecess_wrap .process .icon::after{
    content: "";
    position: absolute;
    width: 100%;
    height:2px;
    top: 105px;
    left: 0;
    background: #ddd;
    z-index:60;
}

#proecess_wrap .process ul li {
    display: inline-block;
    width: 20%;
}

#proecess_wrap .process .icon li {
    position: relative;
    display: inline-block;
    width: 20.3%;
}

#proecess_wrap .process .icon .dot {
    position: absolute;
    background-color: #ddd;
    top: 101px;
    left: 50%;
    width: 11px;
    height: 11px;
    margin-left: -4px;
    border-radius: 50%;
}

#proecess_wrap .process .icon .dot::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -1px;
    width: 17px;
    height: 17px;
    border: 2px solid #0fabad;
    margin-left: -4px;
    border-radius: 50%;
    z-index:63;
}

#proecess_wrap .process .number{
    font-size: 13px;
    font-weight: 900;
    padding-top: 100px;
}

#proecess_wrap .process .number_txt {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -2px;
    margin-top: 8px;
}




/* 컨텐츠3 : 개발제품소개 */

.intro_tit {
    width: 940px;
    margin: 0 auto;
    text-align: left;
    letter-spacing: -1px;
}
.intro_tit .txt_1 {
    color: #0ba9b5;
}

.intro_tit .txt_2 {
    color: #29b578;
}

.autoplay {
    z-index: 9;
}
.autoplay .slide {
    height: 500px;
    margin: 20px 80px;
    color: transparent;
    font-size: 0;
    box-sizing: border-box;

}

.autoplay .slide1{
    background: url(/img/main/main_con03_img05.jpg) no-repeat 0 0 /1100px;
}

.autoplay .slide2{
    background: url(/img/main/main_con03_img06.jpg) no-repeat 0 0 /1100px;
}

.autoplay .slide3{
    background: url(/img/main/main_con03_img05.jpg)no-repeat 0 0 /1100px; 
}

.autoplay .slide4{
    background: url(/img/main/main_con03_img01.jpg) no-repeat 0 0 /1100px;
}

.autoplay .slide5{
    background: url(/img/main/main_con03_img06.jpg) no-repeat 0 0 /1100px;
}

.slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    border:none;
    z-index: 999;
    color: transparent;
}

.slick-prev {
    left:20%;
    background: url(/img/icon/auto_left.png) no-repeat 0 0 /32px;
    font-size:24px;
}

.slick-next { 
    right: 16%;
    background: url(/img/icon/auto_right.png) no-repeat 0 0 /32px;
    font-size:24px;
}

.autoplay h3 {
    background-color: red;
}









/* 컨텐츠4 : 왼쪽 컨텐츠 - 상담신청 */

#advice {
    margin-top: -400px;
    width: 100%;
    background-color: #f2f2f2;
    padding-bottom: 110px;
    z-index: 1;

}

#advice .advice_item {
    max-width: 1400px;
    margin: 250px auto 0 auto;
}
#advice .advice_item::after{
    content: "";
    display: block;
    clear: both;
}

#advice .advice_item h1 {
    text-align: center;
    letter-spacing: -1.5px;
    padding: 300px 0 40px 0;
}

#advice .advice_item .info {
    float: left;
    margin-right: 1%;
    padding-left: 150px;
}

#advice .advice_item .info,
#advice .advice_item .qna {
    width: 48%;
    box-sizing: border-box;
}

#advice .advice_item .info dl{
border-bottom: 1px solid #a6a5a5;
}

#advice .advice_item .info dd{
    padding: 15px 0;
    color: #999;
    margin-top: 25px;
}

#advice .advice_item .info dt {
    width: 140px;
    font-size: 16px;
    font-weight: 600;
    color: #222;
}

#advice .advice_item .info input[type="text"],
#advice .advice_item .info input[type="tel"],
#advice .advice_item .info select {
    border: 0;
    font-size: 16px;
    font-weight: 600;
    color: #999;
    background-color: transparent;
}

#advice .advice_item .info dt,
#advice .advice_item .info dd {
    display: inline-block;
    text-align: left;
}

input::placeholder {
    color: #999;
}

#advice .advice_item .info dd  select {
    width: 380px;
    margin-left: -5px;
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none;
    background: url(/img/icon/down.png) no-repeat 100% 0 /20px;
}


/* 컨텐츠4 : 개인정보동의 */
#advice .advice_item .privacy_agree {
    height: 90px;
    font-size: 14px;
}

#advice .advice_item .privacy_agree::after {
    content : "";
    display : block;
    clear : both;
}

#advice .advice_item .privacy_agree .left{
    float: left;
    margin-top: 50px;
}

#advice .advice_item .privacy_agree .right{
    float: right;
    margin-top: 50px;
}

#advice .advice_item .privacy_agree .left span {
    border: 2px solid #383c3f;
    padding: 11px 15px;
    color: #383c3f;
    font-weight: 600;
}

#advice .advice_item .privacy_agree .right input[type="checkbox"] { 
    display: none;
}

#advice .privacy_agree .right input[type="checkbox"] + label { 
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.privacy_agree #agree + label::after { 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid #383c3f;
    border-radius: 100px;
    z-index: 70;
}

.privacy_agree input[type="checkbox"] + label span {
    font-weight: 600;
    font-size: 14px;
    color: #383c3f;
    z-index: 71;
    padding-left: 25px;
}

.privacy_agree input[type="checkbox"]:checked + label span {
    background: url(/img/icon/checked.png) no-repeat 0 0 /18px;
}


/* 컨텐츠4 : 오른쪽 컨텐츠 - 문의내용 */

#advice .advice_item::after { 
    content: ''; 
    display: block; 
    clear: both }

#advice .qna {
    float: right;
    margin-left: 1%;
    margin-top: 25px;
    box-sizing: border-box;
}

#advice .advice_item .qna dt {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

#advice .advice_item .qna textarea {
    width: 100%;
    height: 250px;
    border: 0;
    resize: none;
    margin-bottom: 20px;
}

textarea::placeholder {
    color: #999;
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
}

#advice .advice_item .qna input[type="button"] {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    border: 0;
    padding: 20px 0;
    cursor: pointer;
    background: #000;    
}


/* wave */

.wave .top_button a {
    position: fixed;
    bottom: 50px;
    right: 80px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    z-index:9999;
    color: (0,0,0,0);
    background: #222 url(/img/icon/top_arrow.png) no-repeat 50% 50% /25px;
}


/* footer */

footer {
    background-color: #fff;
    max-width: 1700px;
    margin: 50px auto;
}

footer .top {
    font-size: 15px; 
    font-weight: 600;
    padding-bottom: 40px;
}

footer .top a {
    margin-left: 30px;
}

footer .top a:first-child {
    margin-left: 0;
    color: #0ba9b5;
}

footer .middle  {
    font-size: 13px;
    color: #222;
}

footer .middle > div {
    display: inline-block;
    margin-right: 200px;
    vertical-align: top;
}

footer .middle h3 {
    font-size: 15px;
    color: #222;
    letter-spacing: 0.25px;
    margin-bottom: 35px;
}

footer .middle ul li {
    position: relative;
    display: block;
    margin-top: 15px;
    padding-left: 100px;
    box-sizing: border-box;
}

footer .middle ul li span {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    color: #aaa;
    font-weight: 600;
    padding-right: 0px;
}


footer .bottom {
    margin-top: 40px;
    font-weight: 400;
    letter-spacing: -1px;
}

footer .bottom span {
    color: #0ba9b5;
}


.visual {
    position: relative;
}

.visual button {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translatey(-50%);
}

.visual button.slick-prev {
    left: 0;
}

.visual button.slick-next {
    right: 0;
}



.visual button.slick-prev,
.visual button.slick-next {
    width: 71px;
    height: 71px;
    border-radius: 100%;
    border: none;
    background-color: rgba(0,0,0,0.5);
}




.visual .slick-slide slick-current slick-active
