header {
    position: relative;
    width: 100%;
    height: 100px;
    z-index: 4;
}

header h1{
    position: absolute;
    padding: 0 20px;
}

/* 상단오른쪽메뉴아이콘 */

.header_Wrap .menu_box img{
    position: absolute;
    top: 40px;
    right: 50px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url(/img/icon/menu.png) no-repeat 0 0 /cover;
}

/* PC버전메뉴 */

.menu_wrap:hover{
    transition: all 300ms ease;
    background-color: #Fff;
}

.menu_wrap .menu {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.menu_wrap .menu ul {
    font-size: 0;
}

.menu_wrap .menu li {
    position: relative;
    display: inline-block;
    width: 10%;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: #9b9b9b;
}

.menu_wrap .menu ul li::after {
    display: none;
    content: "";
    position: absolute;
    display: block;
    bottom: -1px;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: #222222;
    transition: all 500ms ease;
}
.menu_wrap .menu ul li:hover::after {
    left: 0%;
    width: 100%;
    z-index:9997
}

.menu_wrap .menu li a {
    line-height: 100px;
}

.menu_wrap .menu li a:hover {
    color: #000;
}

/* PC버전메뉴오픈시 */
.menu_wrap .menu_open {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    border-top: 1px solid #aaa9a9;
    z-index:9996
}

header .menu_wrap .menu_open .dep1 {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    font-size: 0;
}

.menu_wrap .menu_open .dep1 > li {
    display: inline-block;
    width: 10%;
    font-size: 16px;
    padding: 20px 0 40px 0;
}

.menu_wrap .menu_open .dep2 li {
    padding: 8px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #9b9b9b;
}

.menu_wrap .menu_open .dep2 li a:hover {
    color: #373737;
}

/* 1번째페이지 스크롤아이콘*/

#container .scroll {
    position: absolute;
    bottom: -7%;
    left: 3%;
    float: left;
    background: url(/img/icon/main_scroll_icon.png) no-repeat 0 0 /cover;
    color: rgba(0,0,0,0);
    width: 13px;
    height: 208px;
    z-index: 9999;
}
