header {
    position: relative;
    width: 100%;
    height: 100px;
    background: #f2f2f2;
    z-index: 4;
}

header h1{
    position: absolute;
    padding: 0 20px; 
}

/* 상단오른쪽메뉴아이콘 */

.header_Wrap .menu_box img{
    position: absolute;
    top: 40px;
    right: 50px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url(/img/icon/menu.png) no-repeat 0 0 /cover;
}

/* PC버전메뉴 */
.menu_wrap .menu {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.menu_wrap .menu ul {
    font-size: 0;
}

.menu_wrap .menu li {
    display: inline-block;
    width: 10%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #999;
}

.menu_wrap .menu li a {
    line-height: 100px;
}


/* PC버전메뉴오픈시 */
.menu_wrap .menu_open {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    margin: 0 auto;
}

header .menu_wrap .menu_open .dep1 {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    font-size: 0;
}

.menu_wrap .menu_open .dep1 > li {
    display: inline-block;
    width: 10%;
    font-size: 16px;
    padding: 30px 0;
}

.menu_wrap .menu_open .dep2 li {
    padding: 8px 0;
    text-align: center;
    font-size: 16px;
    color: #373737;
}


/* CONTATINER 1번째 */
#container {
    position: relative;
    background-color: #f2f2f2;
    z-index: 1;
}

#container .item {
    position: relative;
    height: 650px;
    max-width: 1300px;
    margin: 0px auto;
}

/* 1번째 txt */
#container .item .txt1 {
    position: absolute;
    top: 30%;
    left: 0;
    padding-left: 30px;
    font-size: 0;
}

#container .item .txt1 span {
    font-size: 80px;
    font-weight: 900;
    color: #373737;
    line-height: 70px;
    font-family: 'Lato'; 
}

#container .item .txt1 .t1 {
    font-size: 15px;
    letter-spacing: 7px;
    font-weight: 900;
}

#container .item .txt1 .t2,
#container .item .txt1 .t3 {
    font-weight: 900;
    letter-spacing: 0.5px;
}

#container .item .txt1 .t2 {
    color: #0fabad;
}

#container .item .txt1 .t3 {
    color: #29b578;
}

/* 1번째페이지 왼/오버튼*/

#container .arrow {
    position: absolute;
    bottom: -6%;
    left: 17%;
    max-width: 1300px;
    margin: 0px auto;
}

#container .arrow input[type="button"] {
    border-radius: 100px;
    border: 0;
    width: 90px;
    height: 90px;
    color: rgba(0,0,0,0);
    cursor: pointer;
}

#container .arrow .left_button {
    background: #0fabad url(/img/icon/arrow_left.png) no-repeat 45% 50% /22px;
    margin-left: 10px;
}

#container .arrow .right_button {
    background: #29b578 url(/img/icon/arrow_right.png) no-repeat 55% 50% /22px;
    margin-left: 10px;
}

/* 1번째페이지  물결이미지*/
#container .bg_image {
    background: url(/img/main/main_con_cm_bg.jpg) no-repeat 0 0 /cover;
    width: 100%;
    height: 100px;
    color: rgba(0,0,0,0);
}

/* 1번째페이지 스크롤아이콘*/
#container .scroll {
    position: absolute;
    bottom: -5%;
    left: 3%;
    float: left;
    background: url(/img/icon/main_scroll_icon.png) no-repeat 0 0 /cover;
    color: rgba(0,0,0,0);
    width: 13px;
    height: 208px;
}
